td{
    border:1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
}

th{
    border:1px solid white;
    border-collapse: collapse;
    color:white;
    background-color: black;
    font-family:serif

}
table{
    border:1px solid black;
    border-collapse: collapse;
    font-family:serif
}
p{
    font-style: italic;
    font-family:serif
}
tr:nth-child(even){background-color: #EEE;}