h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:cornflowerblue;
    text-align: center;
}
.dog{
    font-style: italic;
}
*{
    box-sizing: border-box;
}
h3:hover{
    color:palevioletred;
}
#bye{
    font-weight: bold;
}
a[href*="https://www.youtube.com/watch?v=3FjoaE-s0RY"]{
    background-color:yellow;
}